@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@1,200&display=swap');

.container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    font-family: 'Victor Mono', monospace;
    box-sizing: border-box;
  }

  form {
    padding: 30px;
     display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

  }
  
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="date"] {
    margin-left: 30px 30px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    background-color: #4fcd51;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #error-message {
    color: red;
    font-weight: bold;
    text-align: center;
  }
  
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  .inline {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  p {
    padding-right: 40px;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #80e088;
    color: rgb(255, 255, 255);
  }
  
  .previous {
    background-color: #af1212;
    color: white;
  }
  
  .next {
    background-color: #04aa2e;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
